# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DIU-ACM-Practice-Tracker-BLUE-6-FALL-2020\DIU ACM Blue Sheet 6\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
